    @import url(norm.css);
    @import url(gallery.css);
    @import url(responsive.css);

    * {
        /* Farben */
        --primaryColor: #0F232D;
        --secondaryColor: #091720;
        --textColor: #ffffff;
    }



    header {
        color: var(--textColor);
        padding: 8px 24px;
        max-width: 1440px;
        width: 100%;
        background-color: var(--primaryColor);
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .header-content {
        display: flex;
        width: 100%;
        height: 80px;
        background-color: var(--primaryColor);
        justify-content: center;
        position: fixed;
        top: 0px;
        z-index: 10000;
    }

    .footer-content {
        display: flex;
        width: 100%;
        height: 80px;
        background-color: var(--primaryColor);
        justify-content: center;
        position: fixed;
        bottom: 0px;
    }

    footer {
        max-width: 1440px;
        color: var(--textColor);
        padding: 8px 24px;
        width: 100%;
        background-color: var(--primaryColor);
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 15px;
    }

    .social-icons img {
        height: 24px;
        cursor: pointer;
    }

    .logo {
        width: 180px;
        cursor: pointer;
    }

    .logo img {
        cursor: pointer;
    }

    main {
        display: flex;
        justify-content: center;
        color: var(--textColor);
        padding: 8px 24px;
        width: 100%;
        min-height: 100vh;
        background-color: var(--secondaryColor);
        margin: 32px 0px 32px 0px;
    }

    .content {
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    main h1 {
        color: #ffffff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        font-size: 48px;
        text-align: center;
        margin-bottom: 0px;
    }

    nav {
        color: rgb(34, 32, 38);
        padding: 8px 16px;
        width: 100%;
        background-color: rgb(175, 175, 175);
    }

    #album-select {
        height: 30px;
        padding: 5px;
        background-color: var(--primaryColor);
        color: white;
        border-radius: 5px;
    }

    .d-none {
        display: none;
    }

    @media(max-width: 1080px) {
        main {
            margin: 80px 0px 90px 0px;
        }
    }

    @media(max-width: 768px) {
        main {
            margin: 32px 0px 32px 0px;
        }
    }

    @media(max-width: 414px) {
        main {
            margin: 0px 0px 0px 0px;
        }

        .footer-content {
            position: static;
            bottom: 0px;
        }
    }

    @media(max-width: 375px) {
        main {
            margin: 0px 0px 0px 0px;
        }

        .footer-content {
            position: static;
            bottom: 0px;
        }
    }

    @media(max-width: 320px) {
        .logo {
            width: 120px;
            cursor: pointer;
        }

        .social-icons img {
            height: 18px;
            cursor: pointer;
        }
    }